


  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000034;">
      {% if request.user.is_anonymous %} 
      <a class="navbar-brand" href="{% url 'classroom-list' %}" style="color: white;">Classrooms</a>
      {% else %}
      <a class="navbar-brand" href="{% url 'classroom-list' %}" style="color: white;">{{request.user.username}}</a>  
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          {% if request.user.is_anonymous %}
          <li class="nav-item active"> 
            <a class="nav-link" style="color: white;" href="{% url 'signup' %}">signup</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="{% url 'signin' %}">signin</a>
          </li>
            {% else %}
           <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="{% url 'classroom-create' %}">New Classroom</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="{% url 'signout' %}">signout</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    